*{
  margin: 0;
}

body{
  background-color: #fff;
  font-family: "noto serif", sans-serif;
  display: grid;
  grid-template-columns: 22.5%auto;
  grid-column-gap:8%;  
}

/* Style for the header */
header {
  background-color: #000041;
  color: #ffffff;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 1/ span 2;
  margin-bottom: 25px;
}

.box{
  border: 2px solid #fff;
  padding: 30px 15%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Everything within the sidebar */
.sidebar {
  background-color: #f0f2f5;
  grid-column: 1;
  margin-left:7em;
  width:82%;
}

#contact {
  border-bottom: 2px solid #000;
  margin: auto 13px;
  padding: 35px 5px;
}
#social{
  padding: 35px 5px;
  margin: auto 13px;
}

#contact h2, #social h2{
  font-size: 18px;
}

#contact ul, #social ul{
  font-size: 14px;
  line-height: 35px;
}
.sidebar ul{
  margin-left: 10px;
}

.sidebar i{
  margin-right: 9px;
}

 img{
   display: block;
   height: 180px;
   width: 70%;
   border-radius: 50%;
   margin: auto;
   margin-top: 10px;
 }
 
 /* For contents within the main element and main elements*/
 .main {
  padding: 10px;
  margin-right:7em;
  /* grid-column: 2; */
  /* width: auto; */
}
.main h2{
  font-size: 20px;
}
.main p{
  font-size: 14px;
  margin-block-start: 5px;
}

/* For Each Element in Main content layout */
#bio, #work, #test{
  padding: 20px;
  border-bottom: 2px solid #eaecee;
}
.flex-container{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

#bio h2, #skills h2, #work-edu h2, #work h2 {
  margin-bottom: 10px;
  font-size: 18px
}
 #skills h2, #work-edu h2, #work h2{
   text-transform: uppercase;
 }
#work-edu h3, #work h3{
  font-size:13px;
}

#work-edu .info, #work .info{
  width: 50%;
}


#skills {
  display: block;
  padding: 20px;
}
#skills ul{
  flex-direction: column;
  columns: 2;
  font-size: 14px;
}

/* Other classes : ul, li, icons etc */
a{
  color:black;
  text-decoration: none;
}
a:hover{
  color: #8a3ab9;
}

.fa-instagram{
  color:#8a3ab9;
}
.fa-facebook-square{
  color: #3b5998;
}
.fa-twitter{
  color:#1da1f2;
}
.fa-linkedin{
  color: #0e76a8;
}
ul .fa-ul{
  padding:1px;
  margin: 10px 30px;
}
